<div id="visualization">
    <div class="row m-0">
        <!-- Показатель -->
        <div class="col pl-2 pr-2">
            <div class="row m-0">
                <div class="col-sm header_line">
                    <h3 class="h3_my font-weight-light">ПОКАЗАТЕЛЬ:</h3>
                </div>
                <div class="col-sm header_line">
                    <!-- Показатель -->
                    {% include 'mainapp/include/visualization/indicator_form_visualization.html' %}
                </div>
            </div>
            <div class="row m-0">
                <div class="row mx-auto text-center">
                    <div class="col header_line">

                    </div>
                </div>
            </div>
        </div>
        <div class="col pl-2 pr-2"></div>
        <!-- Вывод показателей и фильтров -->

        <div class="row">
            {% include "mainapp/include/visualization/bottom_images.html" %}
        </div>

    </div>
</div>

