{#<div id="left_select_box" onclick="showCheckboxesIndicator()">#}
{#    <select class="select_item">#}
{#        <option>Выберите показатель:&nbsp;</option>#}
{#    </select>#}
{#    <div class="overSelect_indicator"></div>#}
{#</div>#}
{#<div id="checkboxes_indicator">#}
{#    {% for j in indicator_form %}#}
{#        <label class="form-check-label pl-4" for="{{ j }}">#}
{#            <input class="form-check-input pl-2" type="checkbox" name="indicator_field" id="{{ j }}" value="{{ j }}"/>#}
{#            {{ j }}#}
{#        </label>#}
{#    {% endfor %}#}
{#</div>#}


<div class="form_style">
    <select id="checkboxes_indicator" class="selectpicker show-menu-arrow" multiple>
    <option  disabled>Выберите показатель</option>
        {% for j in indicator_form %}
            <option value="{{ j }}">{{ j }}</option>
        {% endfor %}
    </select>
</div>