{% load static %}
{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mainapp/style/style.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/style/script_style.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/style/style_modal_form.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="https://snipp.ru/cdn/bootstrap/4.3/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

    <title></title>
</head>
<body>
<div class="black_top_line">
    <div class="black_top_line__left">
        <h1 class="black_top_line__h1 font-weight-light m-0">ОБРАБОТКА&nbsp;ОБРАЩЕНИЙ
            НАЛОГОПЛАТЕЛЬЩИКОВ</h1>
    </div>
    <div class="black_top_line__right">
        {% include 'mainapp/include/index/data_form.html' %}
    </div>
</div>
<div class="center_contextine">
    <div class="dashboard">
        <div class="A_one"><h2 class="font-weight-light">ТОП-5 ТЕМАТИК</h2>
            <h3 id="importamt"></h3></div>
        <div class="group_A_2_3">
            <div class="A_two"><h2 class="font-weight-light">НАРУШЕН СРОК</h2></div>
            <div class="A_three"><h2 class="font-weight-light">СРЕДНЕЕ ВРЕМЯ</h2></div>
        </div>

        <div class="A_four"><h2 class="font-weight-light">ОШИБКА ФНС</h2></div>

        <div class="B_one"><h2 class="font-weight-light">НАПРАВЛЕН ОТВЕТ</h2>
            <div id="answer"></div>
        </div>
        <div class="B_two">
            <h2 class="font-weight-light">КОЛИЧЕСТВО ПО ДНЯМ</h2>
            <div id="main_graph" class="mr-5"></div>
        </div>
        <div class="empty"><h2 class="font-weight-light">EMPTY</h2><img
                src="{% static '../../../media/site/lego.png' %}"></div>

    </div>
    <br>
    <br>
    <button class="btn btn-warning" id="myBtn">РЕДАКТИРОВАНИЕ</button>
    <button class="btn btn-success" id="form_graph" onclick="print_page()">СФОРМИРОВАТЬ</button>
    <button class="btn btn-danger" onclick="reload_page()">ОЧИСТИТЬ</button>
    <br>
    <br>
</div>


<div id="myModal" class="modal">

    <div id="modal_window">
        <div id="modal_content">
            <div class="wrapper">
                <span class="close">&times;</span>
                <div class="modal-header border-0 pb-0">
                    <ul class="modal_nav p-0 m-0">
                        <div id="id_pages"></div>
                        {% include 'mainapp/include/header_sidebar.html' %}
                    </ul>
                </div>
                {% include "mainapp/include/data/data.html" %}
                {% include "mainapp/include/visualization/visualization.html" %}
                {% include "mainapp/include/stylish/stylish.html" %}
                {% include "mainapp/include/design/design.html" %}
                <div class="footer ">
                    <footer class="footer_buttons">
                        <button class=" btn-lg pl-5 pr-5 purple_btn" id="back_button" onclick="backPage()">Назад
                        </button>
                        <button class=" btn-lg pl-5 pr-5 purple_btn" id="next_button" onclick="nextPage()">Далее
                        </button>
                        <button class=" btn-lg pl-5 pr-5 purple_btn" id="done_button">Готово
                        </button>
                    </footer>
                </div>
            </div>
        </div>


    </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="{% static 'mainapp/js/script_modal_form.js' %}"></script>
<script src="{% static 'mainapp/js/script.js' %}"></script>
<script src="{% static 'mainapp/js/demo.js' %}"></script>
</body>
</html>

