/*.multiselect {*/
/*    width: 250px;*/
/*}*/

#select_item {
    color: #ACAEB6;
    border-radius: 5px;
    width: 225px;
    padding: 4px 5px;
}

#left_select_box {
    position: relative;
    font-family: Verdand, sans-serif;
}

#right_select_box {
    position: relative;
    font-family: Verdand, sans-serif;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}


.overSelect_indicator {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overSelect_filter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overSelect_fields {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#visualization_select_box {
    position: relative;
    margin-top: 16px;
}


#checkboxes_visualization {
    position: absolute;
    z-index: 1;
    background: white;
    border: 1px solid #5e5a64;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

#checkboxes_visualization {
    display: none;

}

#checkboxes_visualization label {
    display: block;
    font-weight: 400;
    color: #333;
    white-space: nowrap;
    margin:5px 0 7px;
}


#checkboxes_visualization input {
    margin-left: -16px;
    vertical-align: middle;
}

#period_block, #done_block, #plan_block, #indicator_block {
    display: none;
}

