<div class="item">
    <p id="data_h1">1</p>
    <li>
        <h3 class="font-weight-light m-0" onclick="visual_menu()"><u>ДАННЫЕ</u></h3>
    </li>
</div>
<div class="item">
    <p id="visualization_h1">2</p>
    <li>
        <h3 class="font-weight-light m-0">ВИЗУАЛИЗАЦИЯ</h3>

    </li>
</div>
<div class="item">
    <p id="stylish_h1">3</p>
    <li>
        <h3 class="font-weight-light m-0">СТИЛЬ</h3>

    </li>
</div>


<div class="item">
    <p id="design_h1">4</p>
    <li>
        <h3 class="font-weight-light m-0">РАСПОЛОЖЕНИЕ</h3>

    </li>
</div>

{#{% if request.path == 'calculator/#/' %}alert-link text-success green{% endif %}#}
<p>