<div class="item">
    <p id="data_h1">1</p>
    <li>
        <h3 class="h3_my_nav" onclick="visual_menu()">Данные</h3>
    </li>
</div>
<div class="item">
    <p id="visualization_h1">2</p>
    <li>
        <h3 class="h3_my">Визуализация</h3>

    </li>
</div>
<div class="item">
    <p id="stylish_h1">3</p>
    <li>
        <h3 class="h3_my">Стиль</h3>

    </li>
</div>


<div class="item">
    <p id="design_h1">4</p>
    <li>
        <h3 class="h3_my">Расположение</h3>

    </li>
</div>

{#{% if request.path == 'calculator/#/' %}alert-link text-success green{% endif %}#}